// app-global
$app-bg-color: #000;
$app-text-color: #cdd;

// colors
$dark: #111;
$darkgray: #343434;
$gray: #cdd;
$grayLight: #767776;
$orange: #FF6000;
$white: #fff;
$success: rgb(8, 160, 8);
$danger: rgb(168, 5, 5);
$warning: rgb(255, 196, 0);
$info: rgb(0, 110, 255);

// font-family
$font-family: 'SourceSansPro', sans-serif;


// font-size
$font-size-xs: 1rem;
$font-size-sm: 1.2rem;
$font-size: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2.2rem;
$font-size-xxl: 2.4em;

// borders

$border-radius: 5px;
$border-radius-lg: 15px;